.SearchBar {
    /* text-align: center; */
    border-radius: 20px;
    width: 60%;
    padding: 8px;
    padding-left: 16px;
    margin-top: 16px;
  }
.weatherCard {
  width: 50%;
  height: 200px;
  border-width: 1px;
  background-color:lightslategrey;
  border-radius: 8px;
  align-self: center;
  padding: 16px;
  margin: 16px;
}