.Dashboard {
  /* flex: auto; */
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.Heading {
  text-align: left;
  color: #808080;
}