@import "../utils/colors.scss";

.Dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $background_primary_1;
  padding: 16px;
  margin: 0;
}
.Heading {
  text-align: left;
  color: $text;
}
.body {
  display: flex;
  flex-direction: row;
}