.Dashboard {
  flex: auto;
  flex: 1;
  /* background-color: #191B1F; */
  padding-left: 16px;
  padding-right: 16px;
}

.Heading {
  text-align: left;
  color: #808080;
}
.body {
  display: flex;
  flex-direction: row;
}