.Dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #242c3d;
  padding: 16px;
  margin: 0;
}
.Heading {
  text-align: left;
  color: #ffff;
}
.body {
  display: flex;
  flex-direction: row;
}