.todaysHighlight {
  display: flex;
  flex: 3;
  flex-direction: column;
  background-color:darkgrey;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  margin-left: 8px;
}
.todaysHighlightTitle {
  color: #fff;
  width: 100%;
  margin-top: 0;
  font-size: 13px;
}
.todaysHighlightBody {
  display: flex;
  flex: 1;
  flex-direction: 'row';
  border-width: 1px;
}
.windStatus{
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  margin-right: 8px;
  border-width: 1px;
  background-color:slategray;
}
.windStatusTitle {
  color: #fff;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
}
.windStatusValue {
  color: #fff;
  font-size: 22px;
  margin: 0;
}
.sunriseSunset{
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  border-width: 1px;
  background-color:slategray;
  margin-left: 8px;
}
.sunriseSunsetTitle {
  color: #fff;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
}
.sunriseSunsetBottomDiv {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}
.sunriseDiv {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sunriseTitle {
  color: yellow;
  margin: 0;
  font-size: 10px;
}
.sunriseValue {
  color: #fff;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
.sunsetDiv {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.sunsetTitle {
  color: yellow;
  margin: 0;
  font-size: 10px;
}
.sunsetValue {
  color: #fff;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
.todaysHighlightBottomDiv {
  display: flex;
  flex: 1;
  margin-top: 16px;
}
.BottomContainersDiv {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color:slategray;
  border-radius: 16px;
  padding: 16px;
  margin-right: 16px;
}
.BottomContainersDivTitle {
  color: #fff;
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
}
.BottomContainersDivValueContainer{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
}
.BottomContainersDivValue {
  color: #fff;
  margin: 0;
  font-size: 22px;
}
.BottomContainersDivSuffix{
  color: #fff;
  margin: 0;
  margin-bottom: 3px;
  font-size: 10px;
}