@import "../../utils/scss";

.todaysHighlight {
  @include container;
  background-color: $background_secondary_2;
  display: flex;
  flex: 3;
  flex-direction: column;
}
.todaysHighlightTitle {
  color: $text;
  width: 100%;
  margin-top: 0;
  font-size: 13px;
}
.todaysHighlightBody {
  @include display-flex;
  flex-direction: "row";
}
.topContainer {
  @include todays-highlight-container;
  justify-content: space-between;
}
.windStatusTitle {
  color: $text;
  font-size: 14px;
  margin: 0;
}
.windStatusValue {
  @extend .windStatusTitle;
  font-size: 22px;
}
.sunriseSunsetTitle {
  @extend .windStatusTitle;  
  margin-bottom: 12px;
}
.sunriseSunsetBottomDiv {
  @include display-flex;
  flex-direction: row;
  justify-content: space-around;
}
.sunriseDiv {
  @include display-flex;
  flex-direction: column;
}
.sunriseTitle {
  color: $heading;
  margin: 0;
  font-size: 10px;
}
.sunriseValue {
  color: $text;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
.sunsetDiv {
  @include display-flex;
  flex-direction: column;
  align-items: flex-end;
}
.sunsetTitle {
  color: $heading;
  margin: 0;
  font-size: 10px;
}
.sunsetValue {
  color: $text;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
.todaysHighlightBottomDiv {
  @include display-flex;
  margin-top: 16px;
}
.BottomContainersDiv {
  @include todays-highlight-container;
}
.BottomContainersDivTitle {
  color: $text;
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
}
.BottomContainersDivValueContainer {
  @include display-flex;
  flex-direction: row;
  align-items: flex-end;
}
.BottomContainersDivValue {
  color: $text;
  margin: 0;
  font-size: 22px;
}
.BottomContainersDivSuffix {
  color: $text;
  margin: 0;
  margin-bottom: 3px;
  font-size: 10px;
}
.todaysHighlightLoading {
  @extend .todaysHighlight;
  justify-content: center;
  align-items: center;
}
