@import "../../utils/scss";

.weatherCard {
  @include display-flex;
  @include container;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 8px;
}
.temperature {
  font-size: 40px;
  color: $text;
  margin: 0;
  margin-bottom: 12px;
}
.weather {
  @include weather-text;
  width: 100%;
  font-size: 14px;
}
.location {
  @include weather-text;
  width: 100%;
}
.calendar {
  @include display-flex;
  margin-bottom: 10px;
}
.dateTime {
  @include weather-text;
}
.weatherLoading {
  @include display-flex;
  @include container;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
