@import "./colors.scss";

@mixin display-flex {
    display: flex;
    flex: 1;
}

@mixin container {
  background-color: $background_secondary_1;
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
}

@mixin todays-highlight-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $background_secondary_1;
  border-radius: 16px;
  padding: 16px;
  margin-right: 8px;
}

@mixin weather-text {
  color: $text;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 12px;
}

